<div class="tree-item">
    <NavLink href="@Page" class="tree-item-self is-clickable" @onclick="ToggleMenuItem">
        <div class="tree-item-inner">@Page</div>
    </NavLink>
    <div class="tree-item-children">
    </div>
</div>

@code {
    [Parameter]
    public string? Page { get; set; }

    // private bool collapseMenuItem = true;

    private void ToggleMenuItem()
    {
        MainLayout.ToggleNavMenu();
    }
}